div.oned{
  width:25%;
  margin-left: 5%;
  margin-top:2%;
  border-style: solid;
  border-color: #b04400;
  border-width: 2px;
  border-radius: 2px;
  box-shadow: 0 0 4px black;
}
div.twod{
  background-color:#f2f2f2;
  height:35px;
  margin:8px;
  text-align: left;
  padding: 4px 0 2px 4px;
}
div.three{
  width: 55%;
  border-style: solid;
  border-color: #eee;
  border-width: 1px;
  margin-top: -18%;
  margin-left:35%;
  box-shadow: 0 0 20px #eee;
  margin-bottom: 4%;
}
h2.twod{
font-size: 24px;
font-family:open_sansbold;
height: 15px;
color:white;
text-align:center;
border-radius:7px;
padding-top: 3px;
}
a.oned{
  color:black;
  text-decoration: underline;
}
a.oned:hover{
  text-decoration: none;
  color:black;
}
.fa {
  padding:10px 3px;
  font-size: 30px;
  width: 35px;
  height:35px;
  text-align: center;
  text-decoration: none;
  margin: 10px 4px;
  border-radius: 50%;
}

.fa:hover {
    transform: scale(1.5);
}
.fa-facebook {
  color: #3B5998;
  background: white;
}

.fa-twitter {
  color: #55ACEE;
  background: white;
}
.fa-youtube {
  color: #bb0000;
  background: white;
}

.fa-instagram {
  color: #125688;
  background: white;
}
